	<style  type="text/css">
			body{
				width: 100%;
				height: 100%;
				margin: 0%;
			}
			.contant{
				margin:auto ;
				position: absolute;
				background-color: #ccc;
				width: 400px;
				height: 200px;
				padding:0;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				overflow: hidden;			
			}
			.circle{
				border: 1px solid #f2f;
				background-color: royalblue;
				border-radius: 100%;
				width: 100px;
				height: 100px;
			}
			.left-cir{
				position: absolute;
				left: -50px;
				top: -50px;
			}
			.right-cir{
				position: absolute;
				left: 350px;
				top: 150px;
			}
		</style>